# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo

# ===============================
# Build results
# ===============================
bin/
obj/

# ===============================
# ASP.NET Core
# ===============================
appsettings.Development.json
appsettings.Production.json
appsettings.*.json

# Secrets
secrets.json

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Publish
# ===============================
publish/
wwwroot/lib/

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store
