USE [master]
GO
/****** Object:  Database [JournalWeb]    Script Date: 2026-02-05 1:56:55 PM ******/
CREATE DATABASE [JournalWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JournalWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\JournalWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JournalWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\JournalWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JournalWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JournalWeb]
GO
USE [JournalWeb]
GO
/****** Object:  User [lgvn2025]    Script Date: 2026-02-05 1:56:55 PM ******/
CREATE USER [lgvn2025] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 2026-02-05 1:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[HanhDong] [nvarchar](50) NULL,
	[TenBang] [nvarchar](100) NULL,
	[IdBanGhi] [int] NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 2026-02-05 1:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[NguoiDungId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[MatKhauHash] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[PinHash] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKy]    Script Date: 2026-02-05 1:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKy](
	[NhatKyId] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayViet] [datetime2](7) NULL,
	[CamXuc] [nvarchar](50) NULL,
	[IsRiengTu] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NhatKyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKy_Tag]    Script Date: 2026-02-05 1:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKy_Tag](
	[NhatKyId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NhatKyId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyMedia]    Script Date: 2026-02-05 1:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyMedia](
	[MediaId] [int] IDENTITY(1,1) NOT NULL,
	[NhatKyId] [int] NOT NULL,
	[DuongDanFile] [nvarchar](500) NULL,
	[LoaiMedia] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 2026-02-05 1:56:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TenTag] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhatKy] ADD  DEFAULT ((0)) FOR [IsRiengTu]
GO
ALTER TABLE [dbo].[NhatKy] ADD  CONSTRAINT [DF_NhatKy_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhatKyMedia] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhatKy]  WITH CHECK ADD  CONSTRAINT [FK_NhatKy_NguoiDung] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[NhatKy] CHECK CONSTRAINT [FK_NhatKy_NguoiDung]
GO
ALTER TABLE [dbo].[NhatKy_Tag]  WITH CHECK ADD  CONSTRAINT [FK_NKT_NhatKy] FOREIGN KEY([NhatKyId])
REFERENCES [dbo].[NhatKy] ([NhatKyId])
GO
ALTER TABLE [dbo].[NhatKy_Tag] CHECK CONSTRAINT [FK_NKT_NhatKy]
GO
ALTER TABLE [dbo].[NhatKy_Tag]  WITH CHECK ADD  CONSTRAINT [FK_NKT_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
GO
ALTER TABLE [dbo].[NhatKy_Tag] CHECK CONSTRAINT [FK_NKT_Tag]
GO
ALTER TABLE [dbo].[NhatKyMedia]  WITH CHECK ADD  CONSTRAINT [FK_Media_NhatKy] FOREIGN KEY([NhatKyId])
REFERENCES [dbo].[NhatKy] ([NhatKyId])
GO
ALTER TABLE [dbo].[NhatKyMedia] CHECK CONSTRAINT [FK_Media_NhatKy]
GO
USE [master]
GO
