@{
    Layout = null;
}

<div class="container mt-5" style="max-width:360px">
    <h4 class="text-center">🔑 Đổi mật khẩu</h4>

    @if (ViewBag.Loi != null)
    {
        <div class="alert alert-danger">@ViewBag.Loi</div>
    }

    <form method="post">
        <input type="password" name="password"
               class="form-control mb-3"
               placeholder="Mật khẩu mới"
               required />

        <input type="password" name="confirm"
               class="form-control mb-3"
               placeholder="Nhập lại mật khẩu"
               required />

        <button class="btn btn-success w-100">
            Cập nhật
        </button>
    </form>
</div>
